{% extends 'base.html' %}

{% block title %}To Do Item{% endblock %}
{% block content %}
<div class="text-center my-3">
	<h1>{{ item_name }}</h1>
	<h3>Category</h3>
	<p>{{ category }}</p>
	<h3>Status</h3>
	<p>{{ status }}</p>
	<button class="btn btn-warning mx-1 text-decoration-none">
		<a href="{% url 'grocerylist:index' %}" class="text-light text-decoration-none">Back To Events</a>
	</button>

	
</div>

{% endblock %}
