{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
        
        {% if groceryitem_list %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% for groceryitem in groceryitem_list %}
                            <a href="{% url 'grocerylist:viewgroceryitem' groceryitem.id %}" class="text-decoration-none">
                                <li class="list-group-item">{{ groceryitem.item_name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p class="text-center">No tasks have been created.</p>
        {% endif %}
        
        {% if event_list %}
            <div class="container">
                <div class="row">
                    <h3 class="text-center mb-3">My Events</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% for event in event_list %}
                            <a href="{% url 'grocerylist:viewevent' event.id %}" class="text-decoration-none">
                                <li class="list-group-item">{{ event.event_name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p class="text-center">No events have been created.</p>
        {% endif %}
        
    {% else %}
        <h1 class="text-center my-3">You are not logged in.</h1>
        <p class="text-center">Kindly <a href="{% url 'grocerylist:login' %}">login</a>.</p>
    {% endif %}
{% endblock %}